@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Pacifico&family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
  color: white;
}
.score{
  height: 8vh;
  background-color: orange;
  display: flex;
  justify-content: center;
}

.score p {  
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  height: 15vh;
  width: 15vh;
  background-color: white;
  color: blue;
  position: absolute;
  border: 5px, solid, orange;
  font-size: 60px;
  font-weight: 600;
}

main {
  height: 100vh;
  background-image: url("background_game.avif");
  background-repeat: no-repeat;

}

.questionAnswerSection {
  display: flex;
  justify-content: space-around;
  height: 70vh;
  flex-flow: column wrap;
  font-family: "Mitr", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.question_bubble {
  height: 10vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  margin: auto 20px;
  padding: 10px;

}

.question {
  color: blue;
}


.answersBtn {
  width: 80%;
  border-radius: 15px;
  align-content: center;
  margin-bottom: 25px;
  background-color: white;
  color: blue;
  border: 1px solid white;
  block-size: fit-content;
  padding: 7px;
}

.questionSectionBtns {
  width: 30%;
  border-radius: 30px;
  border: 1px solid orange;
  background-color: orange;
  font-size: 25px;
  font-weight: bold;
  padding: 13px;
}

.correctAnswer {
  background-color: green;
  color: white;
  border: 1px solid green;
}

.wrongAnswer {
  background-color: red;
  color: white;
  border: 1px solid red;
}

.hide {
  display: none
}

.homeTitle {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 50px;
}

.homeTitleSpan {
  font-size: 80px;
  font-family: "Mitr", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.homeSection {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  gap: 20px;
  height: 35vh;
}

.homeBtn {
  width: 19vh;
  border-radius: 30px;
  border: 1px solid orange;
  height: 6vh;
  background-color: orange;
  font-weight: bold;
  font-size: 35px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: fit-content;
}